[Unit]
Description=AIS MarineTraffic Relay Service
After=network.target

[Service]
Type=simple
Restart=always
User=david
WorkingDirectory=/home/david/rpi-ais/build
ExecStart=/home/david/rpi-ais/build/ais_forwarder

[Install]
WantedBy=multi-user.target
